<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, maximum-scale=1.0">

  <link rel="stylesheet" href="css/presentation.css" media="screen">

  <script src="http://use.typekit.com/nsu8ggo.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</head>
<body>

<ul id="options">
  <li>
    <label for="font-size-adjuster">Font size</label>
    <input id="font-size-adjuster" type="range" value="18" min="16" max="100" />
  </li>
  <li>
    <label for="is-presenting-toggler">Presenting</label>
    <input id="is-presenting-toggler" type="checkbox" />
  </li>
  
</ul>

<div id="content">

  {{ content }}

</div>

<script src="js/jquery.min.js"></script>
<script src="js/presentation.js"></script>

</body>
</html>
